/* template config */
html, body, #right-panel{
    height: 100% !important;
}
section.content{
    background-color: rgb(243, 243, 243);
}
div.box{
    background-color: white;
}
.card-footer-o1{
    padding: 12px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}


/* flexbox */
.perfect-center-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* background colors */
.bg-aqa{
    background-color: aquamarine;
}
.bg-sky{
    background-color: rgb(236, 240, 245);
}
.bg-white{
    background-color: white;
}
.bg-gray-o1{
    background-color: rgb(209, 214, 238);
}


/* margin */
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}
.mr-10{
    margin-right: 10px;
}

